In [3]:
#boolean datatype
a=True
b=False
type(a)

bool

In [8]:
#Relational Operators
x=10
y=20
print(x>y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

False
False
True
False
True

In [12]:
#Logical Operators
x=10
y=20
z=30
x<y and x<z or x<y

True

In [15]:
#if else
if x>=y and x>=z:
    print(x)
elif y>=z and y>=x :
    print(y)
else:
    print(z)

30

In [18]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
     print('D')

B

In [31]:
True and True or False and False

True

In [32]:
((True and True) or False) and False

False

In [39]:
#while  loop
n=int(input())
i=1
while i<=n :
    print(i,end=" ")
    i+=1
print()

4
1 2 3 4

In [2]:
#for loop and range
n=int(input())
for i in range(n+1): #by default range starts from 0
    print(i,end=" ")
print()
for i in range(2,12,4):
    print(i,end=" ")

5
0 1 2 3 4 5
2 6 10

In [54]:
#prime number
n=int(input())
prime=True
for i in range(2,n):
    if n%i == 0:
        prime=False
        break
if prime:
    print("Prime")
else:
    print("Not Prime")

31
Prime

In [63]:
#fast iteration
s="abcd"
for c in s:
    print(c,end=" ")
tuple=(1,2,3)
for b in tuple:
    print (b,end=" ")
l=[45,234,545]
for f in l:
    print(f,end=" " )

a b c d 1 2 3 45 234 545

In [10]:
x = 'abcd'
for i in x:
     print(i, end = " ")
     x.upper()

a b c d

In [13]:
x = 'abcd'
for i in range(len(x)):
   print(x)
   x = 'a'

abcd
a
a
a

In [74]:
def reverse(str):
    s=''
    for i in str:
        s=i+s
    return s
s=input()
a=s.split(' ')
s=''
for i in a:
    i=reverse(i)
    s=s+i+" "
print(s)

Welcome to Coding Ninjas
emocleW ot gnidoC sajniN

In [89]:
#function
def sum (a=3,b=4,c=3):
    return a+b+c
def power(x,y=2): #default arguments
    return x**y
sum(5,3)
power(4)
sum(b=0) #can specify an argumennt like this directly like did in print(i,end=" ")

6

In [96]:
#variable number of inputs to a function
def sum_variable(a,b,*more):
    ans=a+b
    print(type(more))
    print(more)
    for i in more :
        ans+=i
    return ans

sum_variable(10,20,34,34,4)

<class 'tuple'>
(34, 34, 4)

102

In [99]:
#more than one  return value
def dummy (a,b):
    return a+b,a*b
sum,mul=dummy(5,4)
print(sum)
print (mul)
a=dummy(5,4) # if only one catching it becomes tuple of all return values
print(a)
#in short  all stored in tuple CAN ACCESS then
mul=dummy(4,5)[1]
print(mul)

9
20
(9, 20)
20

In [100]:
x = 50
def change(x):
     x = 2
change(x)
print(x)

50

In [105]:
#https://www.geeksforgeeks.org/even-fibonacci-numbers-sum/
limit=int (input())
def evenfib(limit):
  if limit<=2:
  	return 0
  first=0
  second=2
  sum=2
  while  second<=limit:
    nth=4*second+first
    if  nth>limit:
      break
    sum+=nth
    first=second
    second=nth
    
  return sum

print(evenfib(limit))

400
188